/* Aplico propiedades grid para el header del home */


.formato-texto1{

    background-image: url(../public/img/fondo-header2.jpg);
    height: 750px;
    width: 1850px;

    font-size: x-large;
    font-weight: 900;
    font-style: oblique;
    color: white;


    text-align: center;
   
}


.txt1-main{
    grid-area: txt1-main;
    text-align: center;
    font-size: x-large;
    
}

.img1-main{
    grid-area: img1-main;
}

.txt2-main{
    grid-area: txt2-main;
    font-size:x-large ;
}

.img2-main{
    grid-area: img2-main;
}

.txt3-main{
    grid-area: txt3-main;
    font-size: x-large;
}

.img3-main{
    grid-area: img3-main;
}

.txt4-main{
    grid-area: txt4-main;
    font-size: x-large;
}

.img4-main{
    grid-area: img4-main;
}


/* las fuentes de mi body provienen de Google fonts */